## Bus Arrival Time Prediction and Real Time Updating 
##### Group 27

##### Running time Dataset Preperation

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('../../data/bus_running_time_bend_data_added.csv')
poi_dir1 = pd.read_csv('../../data/running_times_poi_final_Kandy-Digana_additional.csv')
poi_dir2 = pd.read_csv('../../data/running_times_poi_final_Digana-Kandy_additional.csv')

In [3]:
dataset.head()

,Unnamed: 0,trip_id,deviceid,direction,segment,date,start_time,end_time,run_time,run_time_in_seconds,...,temp,precip,windspeed,conditions,dt(n-1),max_elevation,avg_elevation,segment_gradient_average,stop_to_stop_gradient,significant_bend_count
0,0,1.0,262.0,1.0,1.0,2021-10-01,06:39:49,06:40:58,0 days 00:01:09,69.0,...,20.0,0.0,6.1,Partially cloudy,0.0,532.0,511.650000,0.004662,0.079618,2.0
1,1,1.0,262.0,1.0,2.0,2021-10-01,06:42:12,06:45:42,0 days 00:03:30,210.0,...,20.0,0.0,6.1,Partially cloudy,74.0,532.0,529.500000,0.015948,-0.007985,7.0
2,2,1.0,262.0,1.0,3.0,2021-10-01,06:45:42,06:53:58,0 days 00:08:16,496.0,...,20.0,0.0,6.1,Partially cloudy,0.0,544.0,529.100000,-0.011355,-0.004628,11.0
3,3,1.0,262.0,1.0,4.0,2021-10-01,06:54:04,06:57:19,0 days 00:03:15,195.0,...,20.0,0.0,6.1,Partially cloudy,6.0,527.0,515.714286,0.008623,-0.010950,4.0
4,4,1.0,262.0,1.0,5.0,2021-10-01,06:57:19,06:58:56,0 days 00:01:37,97.0,...,20.0,0.0,6.1,Partially cloudy,0.0,488.0,480.333333,-0.040850,-0.050612,2.0

In [4]:
poi_dir1.head()

,segment,segment_info,direction,center_location,total_poi_count,average_poi_distance,place_of_worship,place_of_education,hospital,healthcare,tourist_attractions,commercial_places,nearby_bus_stops,public_places,fuel_station,place_of_accommodation
0,1,BT01 - 101,Kandy-Digana,"(7.2918241214999995, 80.636319825)",16,0.002356,10,2,0,3,48,3,4,13,1,0
1,2,101 - 102,Kandy-Digana,"(7.288573159, 80.644768605)",19,0.006437,8,13,2,6,35,1,1,11,0,0
2,3,102 - 103,Kandy-Digana,"(7.290925475, 80.64413128000001)",13,0.003714,9,11,2,5,15,0,0,2,1,0
3,4,103 - 104,Kandy-Digana,"(7.289621492, 80.65685642)",7,0.007617,6,3,0,0,5,0,0,2,1,0
4,5,104 - 105,Kandy-Digana,"(7.283234888, 80.664755335)",6,0.003597,4,1,0,0,1,0,0,3,1,0

In [5]:
poi_dir2.head()

,segment,segment_info,direction,center_location,total_poi_count,average_poi_distance,place_of_worship,place_of_education,hospital,healthcare,tourist_attractions,commercial_places,nearby_bus_stops,public_places,fuel_station,place_of_accommodation
0,21,BT02 - 201,Kandy-Digana,"(7.2942338190000005, 80.72626314)",10,0.007613,5,4,1,1,0,0,4,0,1,0
1,22,201 - 202,Digana-Kandy,"(7.2878903075, 80.72173721)",4,0.004417,3,2,0,0,0,0,0,0,1,0
2,23,202 - 203,Digana-Kandy,"(7.285209290999999, 80.71687051)",4,0.002845,1,1,0,0,0,0,0,0,1,0
3,24,203 - 204,Digana-Kandy,"(7.287961449, 80.713655805)",3,0.004877,1,0,0,1,0,0,0,0,0,0
4,25,204 - 205,Digana-Kandy,"(7.281573671, 80.69663536)",4,0.003814,2,0,0,1,0,0,0,2,0,0

In [6]:
print(poi_dir1.columns)
print(poi_dir2.columns)

Index(['segment', 'segment_info', 'direction', 'center_location',
       'total_poi_count', 'average_poi_distance', 'place_of_worship',
       'place_of_education', 'hospital', 'healthcare', 'tourist_attractions',
       'commercial_places', 'nearby_bus_stops', 'public_places',
       'fuel_station', 'place_of_accommodation'],
      dtype='object')
Index(['segment', 'segment_info', 'direction', 'center_location',
       'total_poi_count', 'average_poi_distance', 'place_of_worship',
       'place_of_education', 'hospital', 'healthcare', 'tourist_attractions',
       'commercial_places', 'nearby_bus_stops', 'public_places',
       'fuel_station', 'place_of_accommodation'],
      dtype='object')

In [7]:
poi_dir1['direction'] = 1.0
poi_dir2['direction'] = 2.0

In [8]:
poi_features = ['segment','direction','place_of_worship','place_of_education', 'hospital', 
'tourist_attractions', 'commercial_places', 'public_places','nearby_bus_stops','fuel_station','total_poi_count', 'average_poi_distance']

In [9]:
#concatanate poi datasets along columns
poi_dir1 = poi_dir1[poi_features]
poi_dir2 = poi_dir2[poi_features]
poi_data = pd.concat([poi_dir1,poi_dir2])
poi_data.shape

(29, 12)

In [10]:
poi_data['segment'] = poi_data['segment'].astype('int')
poi_data.head()

,segment,direction,place_of_worship,place_of_education,hospital,tourist_attractions,commercial_places,public_places,nearby_bus_stops,fuel_station,total_poi_count,average_poi_distance
0,1,1.0,10,2,0,48,3,13,4,1,16,0.002356
1,2,1.0,8,13,2,35,1,11,1,0,19,0.006437
2,3,1.0,9,11,2,15,0,2,0,1,13,0.003714
3,4,1.0,6,3,0,5,0,2,0,1,7,0.007617
4,5,1.0,4,1,0,1,0,3,0,1,6,0.003597

In [11]:
#Add elevation data to existing features
dataset_poi = pd.merge(left=dataset,right=poi_data,how='left',on=['segment','direction'])

In [12]:
#Drop rows with null values
dataset_poi = dataset_poi.dropna()

In [13]:
print(dataset_poi.shape)

(200679, 48)

In [15]:
dataset_poi.to_csv('../../data/bus_running_time_all_features.csv')